<div class="steps">
  <h1><a href="<% %>"><%= @steps %></a></h1>
  <h2>

  <%= 
  unless @user.name.blank?
    @user.name
  else
    "This person"
  end
   %> 
   took this many steps today</h2>

   <p>Think you can do better?</p>
   <a href="" class="button">Join the challenge</a>
</div>
