<% provide(:title, 'Profile') %>
<% provide(:class, 'profile') %>
  <h1><%= @user.name %> has <%= @user.challenges.count %> challenges going.</h1>

  <ul class="challenges">
    <% @user.challenges.each do |challenge| %>
      <li class="card">
        <h2><%= link_to challenge.task, :id => challenge.id, :controller => :challenges, :action => :show %></h2>
        <p><%= challenge.description %></p>
      </li>
    <% end %>
  </ul>
