.button, a.button, input[type=submit] {
  padding: 0.7em 1.3em;
  background: $color-blue;
  color: $color-white;
  font-size: 14px;
  @include borderRadius;
  @include borderBox;
}
.button:hover, input[type=submit]:hover {
  background: darken($color-blue, 10%)
}
#flash .wrapper .notice { 
  margin: 20px 0;
  padding: 0.1em 0.5em;
  background: darken($color-blue, 30%);
  text-align: center;
  @include borderRadius;
  @include borderBox;
}
.card {
  width: 31.5473%;
  float: left;
  background: darken($color-blue, 30%);
  margin-right: 2.6008%;
  padding: 2%;
  border-top: 5px solid rgba(255,255,255,0.8);
  color: $color-white;
  @include borderBox;
  h2 {
    font-size: 36px;
  }
  a {
    color: $color-white;
  }
}
.card:last-child {
  margin-right: 0;
}
.challenge {
  
}
.meta {
  text-align: center;
  li, li a, span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-grey;
    display: inline;
    letter-spacing: 0.2em;
  }
  li:after {
    // content: "\003cspan\003e&#8226;\003cspan\003e";
  }
  span {
    padding: 0 1em;
  }
  .button {
    margin: 2em 1em;
  }
}
form {
  width: 45%;
  margin: 0 auto;
}