body {
  font-family: "omnes-pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 64px;
  font-weight: 100;
  color: $color-blue;
  text-align: center;
  margin: 2em 0 0;
}
h2 {
}
h3 {
}
h4 {
}
p {
  font-size: 20px;
}
ul, ol {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
ul {
  li {
  }
}
ol {
  li {
  }
}
li {
  ul, ol {
  }
}

blockquote {
}
a, a:active, a:visited {
  color: $color-blue; 
  text-decoration: none;
}
a:hover, a:active {
}
a:hover, a:focus { 
}
a:link { 
}

input, select, textarea { 
  @include textFieldClean; 
}

strong {
  font-weight: 500;
}