<%= form_for(@challenge.competitions.build(competitor_id: current_user.id)) do |f| %>
  <div><%= f.hidden_field :challenge_id, :value => @challenge.id %></div>
  <div><%= f.hidden_field :competitor_id, :value => current_user.id %></div>
  <%= f.submit "Join this challenge", class: "button join" %>
<% end %>
