<%= form_for(@challenge.competitors.build(competitor_id: @challenge.id)) do |f| %>
  <div><%= f.hidden_field :competitor_id %></div>
  <%= f.submit "Join this challenge", class: "button join" %>
<% end %>
