<% provide(:class, 'splash') %>
<div class="home">
  <h2>The beginning of a thing to encourage a healthy lifestyle</h2>
  <%= link_to "Sign in with Fitbit", user_omniauth_authorize_path(:fitbit), :class=>"button" %>
</div>